@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
   font-family: "Outfit", sans-serif;
}

@theme {
   --color-primary: #4fbf8b;
   --color-primary-dull: #44ae7c;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

#nprogress .bar {
  background: #ff0000 !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #ff0000, 0 0 5px #ff0000 !important;
}